/*-- scss:defaults --*/

/* basic colors for highlighting themes */
/* based off of the PTOL color scheme */
$primary: 		#2b85a8 		!default;
$secondary: 	#dae4e7			!default;
$success: 		#fea54d			!default;
$info: 				#82cbec 		!default;
$warning: 		#ec5825 		!default;
$danger: 			#a01813 		!default;
$light: 			#f1e3a9			!default;
$dark: 				#125a56 		!default;

/* highlighting colors */
$my-grey: #455964;
$my-blue: #2096f2;
$my-red: #b35673;

$my-orange: #ef6024;
$my-yellow: #f0941f;
$my-light: #90a19d;
$my-green: #196774;
$my-dark: #363432;

/*-- scss:rules --*/

.blue {
	color: $my-blue;
	font-weight: bold;
}

.orange {
	color: $my-orange;
	font-weight: bold;
}

.yellow {
	color: $my-yellow;
	font-weight: bold;
}

.dark {
	color: $my-dark;
	font-weight: bold;
}

.light {
	color: $my-light;
	font-weight: bold;
}

.red {
	color: $my-red;
	font-weight: bold;
}

.green {
	color: $my-green;
	font-weight: bold;
}

.grey {
	color: $my-grey;
	font-weight: normal;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.smallest {
	font-size: 22px;
}

